* {
  box-sizing: border-box;
font-family: 'Times New Roman', Times, serif;  
font-size: 16px;
}
body {
    background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y29sb3IlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&w=1000&q=80");
    margin: 0;
  }
 