form {
    display: flex;
    max-width: 40%;
    margin: auto;
    padding: 20px;
    border-color: darkred;
    border-style: solid;
    border-width: thick;
    text-align: center;
    background-color: transparent;
}
table{
    max-width: 40%;
    margin: auto;
    padding: 20px;
    border-color: pink;
    border-style: solid;
    border-width: thick;
    text-align: center;
    background-color: transparent;
}
label {
    color: darkred;
    font-weight: bold;
    text-align: left;
}
input {
    width: 200px;
}
body {
    background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y29sb3IlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&w=1000&q=80");
    background-size: 100%;
    background-repeat: no-repeat;
}
button {
    background-color: brown;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
}
.homeButton:hover, .patientButton:hover, .receptionistButton:hover {
    background-color: rgb(121, 178, 234) ;
    cursor: pointer;
} 